body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  min-width: 500px;
}

.container {
  margin: 0 auto;
  max-width: 70vw;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 100vw;
    min-width: 600px;
  }
}

.header {
  background-color: lightblue;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.header__name {
  margin: 0;
}

.header__tel {
  text-decoration: none;
  color: gray;
}

.header__price {
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.popup {
  display: none;
  position: absolute;
  width: 60vw;
  height: 10vh;
  left: calc(40vw / 2);
  background-color: white;
  z-index: 10;
  border-radius: 3px;
  font-size: 13px;
}

.popup__table {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.popup__cell {
  padding: 2px;
  border: 1px solid black;
}

.shadow {
  display: none;
  position: absolute;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
}

.visible {
  display: block;
}

.not-sroll {
  overflow: hidden;
}

.main {
  padding: 10px 0;
  background: url(src/img/backgrond.png) 100% no-repeat;
  background-size: cover;
}

.brand {
  box-shadow: 0 0 10px gray;
}

.brand__inner {
  position: relative;
}

.brand__title {
  position: absolute;
  top: 0;
  left: 10px;
  font-family: Lobster;
  font-size: 25px;
  margin: 0;
  color: gray;
}

.brand__brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 10px;
  background-color: transparent;
}

.brand__brands img {
  width: 100px;
}
