body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  min-width: 500px;
}

.container {
  margin: 0 auto;
  max-width: 70vw;
}

@import "header";
@import "popup";
@import "main";
@import "brand";