body {
  font-family: 'Inter', sans-serif ;
  font-size: 18px;
  margin: 0;
  padding: 0;
  min-width: 500px;
}
.container {
  margin: 0 auto;
  max-width: 70vw;
}
.header {
  background-color: lightblue;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  &__name {
    margin: 0;
  }
  &__tel {
    text-decoration: none;
    color: gray;
  }
}

.main {
  padding: 10px 0;
  background: url(src/img/backgrond.png) 100% no-repeat;
  background-size: cover;
  &__qwe {

    display: flex;
    img {
      box-shadow: 0 0 10px gray;
      margin: 0 10px;
      width: 50%;
    }
    div {
      padding: 0 10px;
      width: 50%;
      left: 0;
    }
  }
}
.brand {
  box-shadow: 0 0 10px gray;
  &__inner {
    position: relative;
    
  }
  &__title {
    position: absolute;
    top: 0;
    left: 10px;
    font-family: Lobster;
    font-size: 25px;
    margin: 0;
    color: gray;
  }
  &__brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 10px;
    background-color: transparent;
    img {
      width: 100px;
    }
  }
}