body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  min-width: 500px;
}

.container {
  margin: 0 auto;
  max-width: 70vw;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 100vw;
    min-width: 600px;
  }
}

@import "header";
@import "popup";
@import "main";
@import "brand";